[user]
	email = chris.game@robbiebobbins.com
	name = The Game
[alias]
  co = checkout
  ci = commit
  cim = commit -m
  ca = commit -a --amend
  s = status
  st = status --short --branch
  newb = checkout -b
  rum = pull --rebase upstream master
  rom = pull --rebase origin master
  l = log --pretty=format:"%C(green)%h%C(bold)%d\\ %Creset%s%C(white)\\ [%cn]" --decorate --numstat
  # Log display from screencast, with train tracks.
  lg = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  # Alternate log display from Scott Chacon
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  f = commit --amend --reset-author --no-edit
[merge]
	tool = vimdiff
[core]
        editor = vim
[rebase]
        autosquash = true
